@model IEnumerable<AerolineasSelectasDelBajioWeb_Entities.SourceDestiny>

@{
    ViewData["Title"] = "Index";
}

<h1>Origen-Destino</h1>

<p>
    <a asp-action="Create">Create nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SourceDestinyFromNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SourceDestinyToNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SourceDestinyFromNavigation.CityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SourceDestinyToNavigation.CityName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SourceDestinyId">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.SourceDestinyId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
