@model AerolineasSelectasDelBajioWeb_Entities.Ticket

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles de tu pedido</h1>

<div>
    <h4>Compra</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketNPlace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketNPlace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketDepartureTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketDepartureTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketAirplane)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketAirplane.AirplaneName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketSale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketSale.SaleAspnetusersId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketSourceDestiny)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketSourceDestiny.SourceDestinyId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TicketId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
